/* Custom NProgress Color to match Green Theme */
#nprogress .bar {
    background: var(--color-primary) !important;
    height: 4px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary) !important;
}